* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }

/** seccion inicio */

h1{
    font-weight: bold;
    color: #35495e ;
    font-family: 'Times New Roman', Times, serif;
    padding: 15px;
    margin: 15px 15px 5px 5px;
}

p{
    font-size: small;
}
li{
    font-size: small;
}

/** seccion productos */

dt{
    font-weight: bold;
    max-width: none;
    border: 1px solid #6F81B0;
    padding: 5px;
    margin: 10px 5px 5px 5px;
}

dd{
    font-size: small;
}

/** notas*/

#miparrafoespecial id {
}

.estaesmiclase class {
}
