* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }

/** seccion inicio */

h1{
    font-weight: bold;
    color: #35495e ;
    font-family: 'Times New Roman', Times, serif;
    padding: 15px;
    margin: 15px 15px 5px 5px;
}

p{
    font-size: small;
}
li{
    font-size: small;
}

/** seccion productos */

dt{
    font-weight: bold;
    max-width: none;
    border: 1px solid #6F81B0;
    padding: 5px;
    margin: 10px 5px 5px 5px;
}

dd{
    font-size: small;
}

/** notas*/

#miparrafoespecial id {
}

.estaesmiclase class {
}
/* Resetear estilos por defecto */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Color de fondo */
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  header {
    background-color: #ffffff; /* Fondo del encabezado */
    padding: 10px 0;
    border-bottom: 1px solid #ccc; /* Línea divisoria */
  }
  
  .nav {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
  }
  
  .nav li {
    padding: 5px 10px;
  }
  
  .nav a {
    text-decoration: none;
    color: #35495e; /* Azul grisáceo */
  }
  
  .nav a:hover {
    color: #007bff; /* Azul más intenso al pasar el mouse */
  }
  
  section {
    padding: 20px 0;
  }
  
  section h2 {
    color: #35495e; /* Azul grisáceo */
    margin-bottom: 10px;
  }
  
  section p {
    color: #666; /* Texto gris */
    line-height: 1.6;
  }
